In [1]:
import pandas as pd
import numpy as np

In [136]:
data=pd.read_excel(r"C:\Users\sudhin\Desktop\Data_Science_2020_v2.xlsx",index_col=0)

In [137]:
data.head()

,Current City,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
Application_ID,,,,,,,,,,,,,
DS0001,Bangalore,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",Global Academy of Technology,Bachelor of Engineering (B.E),Electrical and Electronics Engineering,2019,NaN,7.73/10,NaN,NaN
DS0002,Mumbai,2,1,2,"AutoCAD, MS-Office, Machine Learning, Microsof...","Aegis School Of Business, Data Science, Cyber ...",NaN,PGP,2020,NaN,68.00/100,NaN,NaN
DS0003,Mumbai,2,0,0,"C++ Programming, Data Structures, Image Proces...","VJTI, Mumbai",Bachelor of Technology (B.Tech),Information Systems,2018,NaN,8.85/10,91.40/91.40,9.40/9.40
DS0004,Dhanbad,2,0,2,"Algorithms, C++ Programming, Data Structures, ...",IIT (ISM) Dhanbad,Integrated M.Tech,Mathematics and Computing,2021,NaN,8.40/10,91.80/91.80,10.00/10.00
DS0005,Bangalore,2,0,0,"MS-Word, Python, SQL, MS-Excel",Vvce,Bachelor of Engineering (B.E),Electronics and Communication,2018,NaN,NaN,NaN,NaN

In [138]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 611 entries, DS0001 to DS0611
Data columns (total 13 columns):
Current City                  611 non-null object
Python (out of 3)             611 non-null int64
R Programming (out of 3)      611 non-null int64
Data Science (out of 3)       611 non-null int64
Other skills                  601 non-null object
Institute                     611 non-null object
Degree                        575 non-null object
Stream                        580 non-null object
Current Year Of Graduation    611 non-null int64
Performance_PG                128 non-null object
Performance_UG                533 non-null object
Performance_12                363 non-null object
Performance_10                339 non-null object
dtypes: int64(4), object(9)
memory usage: 66.8+ KB

In [139]:
def check(x,y,z):
    if x and y and z is None:
        return (0)
    else:
        if x in y:
            return ( z + 3 )
        else: 
            return(z)

In [141]:
data["Other skills"].fillna('Nil', inplace = True) 
data["Degree"].fillna('Nil', inplace = True)

In [142]:
data["weightage"]=0
data["weightage"] = data.apply(lambda row : check("Machine Learning",row['Other skills'], row['weightage']), axis = 1) 
data["weightage"] = data.apply(lambda row : check("Deep Learning",row['Other skills'], row['weightage']), axis = 1) 
data["weightage"] = data.apply(lambda row : check("NLP",row['Other skills'], row['weightage']), axis = 1)
data["weightage"] = data.apply(lambda row : check("Statistical Data Analysis",row['Other skills'], row['weightage']), axis = 1)
data["weightage"] = data.apply(lambda row : check("AWS",row['Other skills'], row['weightage']), axis = 1)
data["weightage"] = data.apply(lambda row : check("SQL",row['Other skills'], row['weightage']), axis = 1)
data["weightage"] = data.apply(lambda row : check("Excel",row['Other skills'], row['weightage']), axis = 1)

In [144]:
def degree(x,y,z):
    if "B.E" in x or "B.Tech" in x:
        if y == 2020:
            return(z+10)
        elif y==2019:
            return(z+8)
        else:
            return(z+5)        
    elif "M.Sc" in x or "M.Tech" in x:
        if y==2020:
            return(z+7)
        else:
            return(z+3)
    else:
        return(z+0)

In [145]:
data["weightage"] = data.apply(lambda row : degree(row["Degree"],row["Current Year Of Graduation"], row['weightage']), axis = 1)

In [146]:
data['Machine Learning'] = [1 if "Machine Learning" in x else 0 for x in data['Other skills']]
data["Deep Learning"] = [1 if "Deep Learning" in x else 0 for x in data['Other skills']]
data["NLP"] = [1 if "NLP" in x else 0 for x in data['Other skills']]
data["Statistical Data Analysis"] = [1 if "Statistical Data Analysis" in x else 0 for x in data['Other skills']]
data["AWS"] = [1 if "AWS" in x else 0 for x in data['Other skills']]
data["SQL"] = [1 if "SQL" in x else 0 for x in data['Other skills']]
data["Excel"] = [1 if "Excel" in x else 0 for x in data['Other skills']]

In [148]:
def skill(x,y):
    if x==3:
        return(y + 10)
    elif x==2:
        return(y+7)
    elif x==1:
        return(y+3)
    else:
        return(y+0)

In [149]:
data["weightage"] = data.apply(lambda row : skill(row["Python (out of 3)"], row['weightage']), axis = 1)
data["weightage"] = data.apply(lambda row : skill(row["R Programming (out of 3)"], row['weightage']), axis = 1)
data["weightage"] = data.apply(lambda row : skill(row["Data Science (out of 3)"], row['weightage']), axis = 1)

In [150]:
len(data[data["weightage"]>=40])

23

In [157]:
data.loc[data['weightage'] >= 40, 'shortlisted'] = "Yes"
data.loc[data['weightage'] < 40, 'shortlisted'] = "No"
data["Target"] = [1 if x >= 40 else 0 for x in data['weightage']]

In [163]:
columns=[ 'Python (out of 3)', 'R Programming (out of 3)',
       'Data Science (out of 3)', 'Current Year Of Graduation', 'weightage',
       'Machine Learning', 'Deep Learning', 'NLP', 'Statistical Data Analysis',
       'AWS', 'SQL', 'Excel']

In [165]:
X=data[columns]
y=data["Target"]

In [167]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [169]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(X_train, y_train) 
  
# making predictions on the testing set 
y_pred = gnb.predict(X_test) 
  
# comparing actual response values (y_test) with predicted response values (y_pred) 
from sklearn import metrics 
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 91.42857142857143